/* 
    Document   : main
    Created on : Jul 18, 2013, 1:14:20 PM
    Author     : Vu Dang Tung
    Description:
    Purpose of the stylesheet follows.
*/
html 
{
    height: 100%;
}

body
{
    height: 100%;
}

#page
{
    height: 100%;
    width: 80%;
    margin:0 auto;
}

#mainmenu
{
    width: 80%;
    margin: 0 auto;
    height: 40px; 
    display: block;
}

#footer
{
    margin-top: 40px;
    padding-bottom: 0;    
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

.clear {
clear: both;
}

.navbar-inner {
    width: 80%;
    margin:0 auto;
    background-image: linear-gradient(to bottom, white, white);
}

.all-content {
    margin-top: -20px;
}
#slide-bar {
    margin-top: 20px;
    float: left;
    width: 20%;
}

#content {
    float: right;
    width: 79%;
    margin :0 auto;
}

li {
    list-style-type: none;
}

.clear3 {
    height: 0px;
}

.clear2 {
    height: 20px;
}

#home-page {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

#top-home {
    width: 100%;
    float: top;
    height: auto;
}
#top-left {
    width: 60%;
    float: left;
}

#tl1 {
    float: left;
    width: 50%;
}

#tl2 {
    float: right;
    width: 50%;
}

#top-right {
    width : 38%;
    float: right;
}

#bottom-home {
    width: 100%;
    float: bottom;
    height: auto;
}

#bottom-left {
    float: left;
    width: 40%;
}

#bottom-right {
    float: right;
    width: 58%;
}

.ban {
    display: none;
}

.qldv_2 {
    display: none;
}
.dvd_2 {
    display: none;
}

.qlht_2 {
    display: none;
}

.tree li {
    font-size: 12px;
}

.well a {
    cursor: pointer;
}

.well a:hover {
    color: red;
}