/* 
    Document   : style
    Created on : 22-08-2013, 15:23:10
    Author     : macbook_004
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.dv_avatar {
    float:left;
    width: 150px;
}
